:host {
  display: block;
  margin-top: 1rem;
}

mat-icon {
  padding-right: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin: 1rem 0;
  border-radius: 0.25rem;
}

.no-posts {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 0.5rem;
}
